:root {
  /* Base */
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 0);

  /* Grey */
  --color-grey-10: oklch(0.94 0 89.9);
  --color-grey-20: oklch(0.839 0 89.9);
  --color-grey-30: oklch(0.732 0 89.9);
  --color-grey-40: oklch(0.623 0 89.9);
  --color-grey-50: oklch(0.51 0 89.9);
  --color-grey-60: oklch(0.387 0 89.9);
  --color-grey-70: oklch(0.252 0 89.9);
  --color-grey-80: oklch(0.226 0 89.9);
  --color-grey-90: oklch(0.2 0 89.9);
  --color-grey-100: oklch(0.173 0 89.9);

  /* Slate */
  --color-slate-10: oklch(0.949 0.002 247.8);
  --color-slate-20: oklch(0.859 0.005 247.9);
  --color-slate-30: oklch(0.767 0.009 247.9);
  --color-slate-40: oklch(0.673 0.013 248);
  --color-slate-50: oklch(0.575 0.018 248.1);
  --color-slate-60: oklch(0.471 0.023 253);
  --color-slate-70: oklch(0.362 0.028 250.6);
  --color-slate-80: oklch(0.32 0.022 248.5);
  --color-slate-90: oklch(0.274 0.018 251.9);
  --color-slate-100: oklch(0.224 0.014 253.1);

  /* Red */
  --color-red-10: oklch(0.927 0.034 4.2);
  --color-red-20: oklch(0.809 0.095 6.9);
  --color-red-30: oklch(0.702 0.16 10.6);
  --color-red-40: oklch(0.622 0.212 16.1);
  --color-red-50: oklch(0.579 0.234 23.9);
  --color-red-60: oklch(0.519 0.21 23.4);
  --color-red-70: oklch(0.46 0.185 22.9);
  --color-red-80: oklch(0.396 0.159 22.2);
  --color-red-90: oklch(0.329 0.132 21.1);
  --color-red-100: oklch(0.259 0.104 19);

  /* Orange */
  --color-orange-10: oklch(0.955 0.028 58.8);
  --color-orange-20: oklch(0.879 0.076 56.2);
  --color-orange-30: oklch(0.809 0.125 54.7);
  --color-orange-40: oklch(0.748 0.169 51.1);
  --color-orange-50: oklch(0.698 0.203 44.1);
  --color-orange-60: oklch(0.628 0.181 44.5);
  --color-orange-70: oklch(0.554 0.158 45.1);
  --color-orange-80: oklch(0.479 0.135 45.8);
  --color-orange-90: oklch(0.4 0.11 47.3);
  --color-orange-100: oklch(0.318 0.085 49.4);

  /* Yellow */
  --color-yellow-10: oklch(0.988 0.04 104.1);
  --color-yellow-20: oklch(0.968 0.102 105.2);
  --color-yellow-30: oklch(0.949 0.153 105.4);
  --color-yellow-40: oklch(0.936 0.186 105.5);
  --color-yellow-50: oklch(0.923 0.196 104.6);
  --color-yellow-60: oklch(0.829 0.176 105);
  --color-yellow-70: oklch(0.731 0.155 104.6);
  --color-yellow-80: oklch(0.629 0.133 104.5);
  --color-yellow-90: oklch(0.522 0.11 104.5);
  --color-yellow-100: oklch(0.412 0.088 105.3);

  /* Green */
  --color-green-10: oklch(0.952 0.025 181.3);
  --color-green-20: oklch(0.871 0.064 178.7);
  --color-green-30: oklch(0.792 0.098 177.1);
  --color-green-40: oklch(0.723 0.122 174.3);
  --color-green-50: oklch(0.662 0.132 169.2);
  --color-green-60: oklch(0.595 0.119 169.3);
  --color-green-70: oklch(0.528 0.104 170.2);
  --color-green-80: oklch(0.457 0.09 170.6);
  --color-green-90: oklch(0.381 0.074 172);
  --color-green-100: oklch(0.304 0.058 173.2);

  /* Emerald */
  --color-emerald-10: oklch(0.95 0.023 190.2);
  --color-emerald-20: oklch(0.867 0.058 192.1);
  --color-emerald-30: oklch(0.789 0.09 190.1);
  --color-emerald-40: oklch(0.715 0.11 188.9);
  --color-emerald-50: oklch(0.65 0.113 187.2);
  --color-emerald-60: oklch(0.585 0.102 187);
  --color-emerald-70: oklch(0.519 0.09 187.7);
  --color-emerald-80: oklch(0.45 0.078 187.6);
  --color-emerald-90: oklch(0.376 0.065 188.7);
  --color-emerald-100: oklch(0.3 0.052 188.8);

  /* Blue */
  --color-blue-10: oklch(0.944 0.023 229.1);
  --color-blue-20: oklch(0.849 0.06 233.2);
  --color-blue-30: oklch(0.756 0.096 234.6);
  --color-blue-40: oklch(0.672 0.127 237.7);
  --color-blue-50: oklch(0.594 0.147 244.2);
  --color-blue-60: oklch(0.535 0.132 243.9);
  --color-blue-70: oklch(0.476 0.114 242.7);
  --color-blue-80: oklch(0.414 0.099 242.4);
  --color-blue-90: oklch(0.347 0.08 240.4);
  --color-blue-100: oklch(0.279 0.063 239.2);

  /* Indigo */
  --color-indigo-10: oklch(0.939 0.015 277.8);
  --color-indigo-20: oklch(0.833 0.043 279.6);
  --color-indigo-30: oklch(0.725 0.073 278.2);
  --color-indigo-40: oklch(0.616 0.104 275.9);
  --color-indigo-50: oklch(0.506 0.139 274.1);
  --color-indigo-60: oklch(0.399 0.172 269.8);
  --color-indigo-70: oklch(0.312 0.195 264.2);
  --color-indigo-80: oklch(0.273 0.167 264.2);
  --color-indigo-90: oklch(0.231 0.138 264.1);
  --color-indigo-100: oklch(0.188 0.105 263.8);

  /* Violet */
  --color-violet-10: oklch(0.941 0.021 306.8);
  --color-violet-20: oklch(0.84 0.057 305);
  --color-violet-30: oklch(0.737 0.096 303.1);
  --color-violet-40: oklch(0.633 0.136 302.1);
  --color-violet-50: oklch(0.534 0.172 300);
  --color-violet-60: oklch(0.442 0.201 296.3);
  --color-violet-70: oklch(0.369 0.211 288.5);
  --color-violet-80: oklch(0.32 0.182 289.7);
  --color-violet-90: oklch(0.269 0.152 290.7);
  --color-violet-100: oklch(0.214 0.119 293);

  /* Fuchsia */
  --color-fuchsia-10: oklch(0.929 0.041 329.6);
  --color-fuchsia-20: oklch(0.814 0.113 331.6);
  --color-fuchsia-30: oklch(0.707 0.182 333.3);
  --color-fuchsia-40: oklch(0.623 0.235 334.8);
  --color-fuchsia-50: oklch(0.57 0.251 336.7);
  --color-fuchsia-60: oklch(0.512 0.226 336.5);
  --color-fuchsia-70: oklch(0.453 0.2 336.4);
  --color-fuchsia-80: oklch(0.391 0.173 336.1);
  --color-fuchsia-90: oklch(0.326 0.144 336.4);
  --color-fuchsia-100: oklch(0.259 0.115 336);

  /* Purple */
  --color-purple-10: oklch(0.942 0.021 313.8);
  --color-purple-20: oklch(0.844 0.055 312.3);
  --color-purple-30: oklch(0.743 0.092 312.6);
  --color-purple-40: oklch(0.642 0.13 311.8);
  --color-purple-50: oklch(0.547 0.165 310.9);
  --color-purple-60: oklch(0.456 0.193 308.8);
  --color-purple-70: oklch(0.384 0.2 304.5);
  --color-purple-80: oklch(0.333 0.173 304.9);
  --color-purple-90: oklch(0.28 0.145 305.9);
  --color-purple-100: oklch(0.224 0.114 307.6);
}
